<% provide(:title, "Band Log in") %>
<%= render "shared/header" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Band Log in</h1>
    <%= form_for(:band_session, url: band_sessions_path) do |f| %>

      <%= f.label :email %><br></br>
      <%= f.text_field :email, class: 'form-control' %><br></br>

      <%= f.label :password %><br></br>
      <%= f.password_field :password, class: 'form-control' %><br></br>

      <%= f.submit "Log in", class: "formButtons" %><br></br>
      <% end %>

    <p>New band? <%= link_to "Sign up now!", new_band_path, class: 'link'; %></p>
  </div>
</div>
