<link rel="stylesheet" type="style/css" src="app/assets/stylesheets/users/new">
<header class="topBar">
  <div class="logo">
		<p>|LYSM|</p>
		<div class="sublogo">
			<p class="sub_logo">LIVE</p>
			<p class="sub_logo">YOUR</p>
			<p class="sub_logo">SHOW</p>
			<p class="sub_logo">MUCH</p>
		</div>
	</div>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<ul>
	<% @videos.each do |video| %>
		<li>
			<%= video.band.name %> - <%= video.title %>
    </li>
    <li>
      <%= embed(video.youtube_url) %>

    </li>
    <em>
     <%= pluralize video.evaluators_for(:votes).count, "vote" %>
     Reputation <%= video.reputation_for(:votes).to_i %>
     <%= link_to "up", vote_video_path(video, type: "up"), method: "patch" %>
     <%= link_to "down", vote_video_path(video, type: "down"), method: "patch" %>
  </em>
      <% end %>
</ul>
