<% provide(:title, 'Video Ranking') %>
<%= render "shared/header" %>

<div class="row">
  <h1>Video Ranking</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag videos_path, method: :get, class: "filterbox" do %>
      Filter by
      <%= select_tag :filter_by, options_for_select(%w{votes name}, @filter_by) %>
      <%= button_tag "refresh", class: "formButtons", id: "refresh" %>
    <% end %>
    <ul>
    	<% @videos.each do |video| %>
    		<li>
    			<%= video.band.name %> - <%= video.title %>
        </li>
        <li>
          <%= embed(video.youtube_url) %>
        </li>
        <em>
          <%= pluralize video.evaluators_for(:votes).count, "vote" %>
          Reputation <%= video.reputation_for(:votes).to_i %>
          <% if current_user %>
            <% if current_user.voted_for?(video) %>
              <p>You already voted</p>
            <% else %>
              <%= link_to "up", vote_video_path(video, type: "up"), method: "patch" %>
              <%= link_to "down", vote_video_path(video, type: "down"), method: "patch" %>
            <% end %>
          <% else  %>
            <p>Sorry, You can't vote</p>
          <% end %>
        </em>
      <% end %>
    </ul>
  </div>
</div>