<% if @video.errors.any? %>
    <ul>
        <% @video.errors.full_messages.each do |error_msg| %>
            <li><%= error_msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for [@band, @video] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, size: 10 %>
    <br/>
    <%= f.label :youtube_url %>
    <%= f.text_field :youtube_url, size: 10 %>
    <br/>

    <%= f.submit 'Save' %>
<% end %>

<%= link_to('Cancel', band_videos_path(@project)) %>
