<% content_for :content do %>

<% end %>
<%= yield :content %>

<main class="cf">
	<header class="topBar">
		<div class="logo">
			<p>|LYSM|</p>
			<div class="sublogo">
				<p class="sub_logo">LIVE</p>
				<p class="sub_logo">YOUR</p>
				<p class="sub_logo">SHOW</p>
				<p class="sub_logo">MUCH</p>
			</div>
			<div class="logIn">
				<%= link_to new_band_session_path do %>
					<button class="buttonIn" id="bandIn">Band LogIn</button>
				<% end %>
				<%= link_to new_session_path do %>
					<button class="buttonIn" id="userIn">User LogIn</button>
				<% end %>
			</div>
		</div>
	</header>
	<section class="buttonsContainer">
		<%= link_to new_band_path do %>
			<button class="homeButtons">Sign Up as Band</button>
		<% end %>
		<%= link_to new_user_path do %>
			<button class="homeButtons">Sign Up as User</button>
		<% end %>
	</section>
	<footer class="botBar">
	</footer>
</main>


